[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pm4py = "*"
scikit-learn = "*"
pot = "*"
typing-extensions = "*"
nbconvert = "*"
pix-framework = "*"
pysqlite3 = "*"
crps = "*"
statsmodels = "*"
numba = "*"
ipykernel = "*"
debugpy = "*"
sklearn-quantile = "*"
line-profiler = "*"
numpy = "==2.2.*"

[dev-packages]

[requires]
python_version = "3.11"
