# Ignore everything by default
*

# Don't ignore the .gitignore file itself
!.gitignore

# Unignore directories like 'advanced' and 'standard'
!*/

# Unignore directories like 'bpic17' and 'helpdesk'
!*/*/

# Unignore subfolders like 'concept-name' and 'concept-name_resource'
!*/*/*/

# Unignore drbart_variable.r files directly under folders like 'concept-name'
!/*/*/drbart_variable.r

# Explicitly ignore drbart_variable.r files deeper in the structure (e.g., inside '0', '1', etc.)
!*/*/*/drbart_variable.r